<a href="https://colab.research.google.com/github/pullurisaipavan/python-practice/blob/main/mid_1_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#write a program to print prime numbers in given range by using function the range value is 25 to 50
def prime(lower_value, upper_value): 
 for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)  
lower_value = int(input (""))  
upper_value = int(input ("")) 
prime(lower_value, upper_value)

Please, Enter the Lowest Range Value: 25
Please, Enter the Upper Range Value: 50
29
31
37
41
43
47

In [18]:
#write a program to read any month in integer and display days for that month 1,3,5,7,8,10,12
a=int(input())
if(a==1 or a==3 or a==5 or a==7 or a==8 or a==10 or a==12):
  print("days are:""31")
elif(a==4 or a==6 or a==9 or a==11 ):
  print("days are:""30")
elif(a==2):
  print("days are :""28 days")
else:
  print("ther are no months")

4
days are:30

In [37]:
#write a python program to print even length words in a string
#input:hi how are you 
#output:hi
s="this is python"
s=s.split(' ')
for x in s:
  if len(x)%2==0: 
     print(x,end=' ')

this is python

In [51]:
#a)write a python program to captalize the first letter and last letter of each word
a=str(input())
b=a.split()
c=''
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  z=x[0:-1]+y
  print(z,end=" ")

qfawcacca
QfawcaccA

In [44]:
#b)write a program to read a string from user display first character of each word with capital
  #input:the newcher pavan
  #output:The Newcher Pavan
a=str(input())
b=a.split()
for i in b:
  x=i.capitalize()
  print(x)

gfs ef ef v
Gfs
Ef
Ef
V

In [56]:
#write a python program to convert a list of multiple integers into a single integer
 #input:11,33,50
 #output:113350
a=eval(input())
b=""
for i in a:
 b+=str(i)
 print(b)

[11,33,44]
11
1133
113344