<a href="https://colab.research.google.com/github/pullurisaipavan/python-practice/blob/main/python_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x="i'm sai pavan started from DDS back hostel and reached mess at completed breakfast then my friend joined me and we reached to python class"
print(x)
y=len(x) # assigning a variable and printing the length
print(y)
print(len(x)) #direct finding the length

i'm sai pavan started from DDS back hostel and reached mess at completed breakfast then my friend joined me and we reached to python class
138
138

In [7]:
#to find out the existing word in the given sentence
#check string
x="sai pavan"
print("pavan" in x)
print("xyz" in x)

True
False

In [14]:
#if not
x="i is an independent class person"
print("class" not in x)
print("pavant" not in x)

False
True

In [22]:
#using if statement
y="is an idiot fellow"
if "idit" not in y:
  print("no'idiot' , not in set")

no'idiot' , not in set

In [41]:
#slicing
x="im in python class "
print(x[2:5])
print(x[2:5],x[6:7])
print(x[:-5])
print(x[5:])
print(x[-10:-5])

 in
 in p
im in python c
 python class
hon c

In [49]:
#modifying the string
p="SAI PAVAN is in college"
print(p.upper())
print(p.lower())
print(p.upper())

SAI PAVAN IS IN COLLEGE
sai pavan is in college
SAI PAVAN IS IN COLLEGE

In [35]:
#removing white spaces in a string
x="                 pavan is    villain          "
print(x.strip())       # removes only the white spaces at end and beginning of a string

pavan is    villain

In [42]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [46]:
#string concotaination
a="pavan"
b="sai"
c=b+a
print(c)
#to add space in between
d=b+" "+a
print(d)

saipavan
sai pavan

In [54]:
#replacing a one letter in existing data
#is used to update data
x="pavab"

TypeError: ignored

In [61]:
pavan=10
x="he has {} chocalates."
print(x.format(pavan))
z=100
f=10

y="he has{} and gave to pav{} and {}  to her"
print(y.format(pavan,z,f))

he has 10 chocalates.
he has10 and gave to pav100 and 10  to her

In [ ]:
#escape characters in a string