<a href="https://colab.research.google.com/github/pullurisaipavan/python-practice/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=("b","c","d","e","b","b","b")
y=list(a)
for i in y:
  if i=='b': 

     
    y.remove(i)
    print(i)

b
b
b

In [2]:
#sets
set={"p","a","v","n"}
print(set)          #no order

{'n', 'v', 'p', 'a'}

In [3]:
#duplicates values are ignored
set={"p","a","v","a","n"}
print(set)

{'n', 'v', 'p', 'a'}

In [4]:
#to find the length of the sets
set={"p","a","v","a","n"}
print(len(set))           #dupliclicates are ignored and counted

4

In [6]:
s = {"a", 34, True, 40, "pm"}
print(s)                               #set can contain different data types

{True, 34, 40, 'pm', 'a'}

In [8]:
set={"p","a","v","a","n"}
print(type(set))                 #to find the data type of set
p={"a",1,True,"n"}
print(type(p))

<class 'set'>
<class 'set'>

In [12]:
#to acesss the item in sets
set={"p","a","v","a","n"}
for x in set:
  print(x)

n
v
p
a

In [18]:
set={"p","a","v","a","n"}
print("p" in set)
print("s" in set)

True
False

In [19]:
#adding the items to set
set={"p","a","v","a","n"}
set.add("liliput")
print(set)

{'n', 'a', 'p', 'v', 'liliput'}

In [20]:
#adding of different types
set={"p","a","v","a","n"}
s={"d","lily","ellur","guntur"}
set.update(s)
print(set)

{'guntur', 'ellur', 'lily', 'd', 'n', 'a', 'v', 'p'}

In [21]:
#adding list 
set={"p","a","v","a","n"}         #we can add the list to set
s=["d","lily","ellur","guntur"]
set.update(s)
print(set)

{'guntur', 'ellur', 'lily', 'd', 'n', 'a', 'v', 'p'}

In [22]:
#to remove the element in set
set={"p","a","v","a","n"} 
set.remove("a")    #usage of "remove" keyword
print(set)

{'n', 'v', 'p'}

In [24]:
#usage of discard
set={"p","a","v","a","n"} 
set.discard("p")
print(set)

{'n', 'v', 'a'}

In [27]:
#pop
set={"p","a","v","a","n"}  #removes the last item
x=set.pop()
print(x)
print(set)

n
{'v', 'p', 'a'}

In [29]:
#clear to empty the set
set={"p","a","v","a","n"}  
set.clear()
print(set)

set()

In [30]:
#del to remove the set completely
set={"p","a","v","a","n"}
del set
print(set)

<class 'set'>

In [32]:
#loops
set={"p","a","v","a","n"}
for x in set:
  print(x)

n
v
p
a

In [33]:
#joining of two sets
x={"lily","elluru","dark","jennie","moon"}
y={"charan","kaushik","laxman","saketh","pavan"}
z=x.union(y)
print(z)

{'kaushik', 'saketh', 'jennie', 'pavan', 'moon', 'dark', 'laxman', 'lily', 'elluru', 'charan'}

In [35]:
x={"lily","elluru","dark","jennie","moon"}
y={"charan","kaushik","laxman","saketh","pavan"}
x.update(y)
print(x)

{'kaushik', 'saketh', 'jennie', 'pavan', 'moon', 'dark', 'laxman', 'lily', 'elluru', 'charan'}

In [37]:
x={"lily","elluru","dark","jennie","moon"}
y={"lily","kaushik","laxman","saketh","moon"}
x.intersection_update(y)  #only the common values
print(x)
z=x.intersection(y)
print(z)

{'lily', 'moon'}
{'lily', 'moon'}

In [40]:
x={"lily","elluru","dark","jennie","moon"}
y={"lily","kaushik","laxman","saketh","moon"}
x.symmetric_difference_update(y)            #prints that are not common in both sets
print(x)
z=x.symmetric_difference(y)
print(z)

{'kaushik', 'saketh', 'jennie', 'dark', 'laxman', 'elluru'}
{'dark', 'lily', 'jennie', 'elluru', 'moon'}