<a href="https://colab.research.google.com/github/pullurisaipavan/python-practice/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple=("p","q","r","s","t") #unique data
print(tuple)
list=[21,"p","s","r","i"]        #It is the diff between the tuple and list
                                     #in list data can be updated
print(list)

('p', 'q', 'r', 's', 't')

In [32]:
p=("A","d","a","f","a","a","a")
x=p.count("a")
print(x)
y=p.index("a")
print(y)

4
2

In [2]:
thistuple = ("a", "b", "cy", "a", "cy")
print(thistuple)
print(len(thistuple))
x=len(thistuple)
print(x)

('a', 'b', 'cy', 'a', 'cy')
5
5

In [ ]:
#create tuple with one item
p=("w",)
print(p)

('w',)

In [ ]:
p=("x") 
print(p)

x

In [ ]:
#there can be three data types (int,string,boolean)
t= ("x","y","z")
r= (5,7,9,0,5)
s= (True, False, True)

In [ ]:
#to find the data type we need to use "type() operator"
t=("a", "na", "cry")
print(type(t))
r= (1, 5, 7, 9, 3)
s= (True, False, False)
print(type(r))
print(type(s))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
p = tuple(("le", "baa", "err")) 
print(p)

TypeError: ignored

In [8]:
#access the variable in it
v=("r","d","t","g","j")
print(v[1])
print(v[1:])
print(v[:1])
print(v[-1])
print(v[-1:])
print(v[-3:])
print(v[:-3])
print(v[3:5])

d
('d', 't', 'g', 'j')
('r',)
j
('j',)
('t', 'g', 'j')
('r', 'd')
('g', 'j')

In [18]:
#to update the data in tuple
#we have to convert the tuple into list and do the operations
v=("r","d","t","g","j")
x=list(v)
x.append("pavan")                   # append usage
print(x)     #before
x.remove("g")                     #remove usage 
print(x)      #after          #in list
v=tuple(x)
print(v)         #in tuple
del v()                   #del to completely erase 
print(v)

SyntaxError: ignored

In [15]:
#adding tuple to a tuple 
v=("r","d","t","g","j")
p=("pavan","kite")
v += p
print(v)

('r', 'd', 't', 'g', 'j', 'pavan', 'kite')

In [19]:
f = ("a", "b", "c")
   #unpacking a tuple using variables
(g, y, r) = f

print(g)
print(y)
print(r)

a
b
c

In [21]:
f = ("a", "b", "c","d","e","f")
   
(g, *y, r) = f

print(g)
print(y)
print(r)

a
['b', 'c', 'd', 'e']
f

In [22]:
f = ("a", "b", "c","d","e","f")
  
(g, y, *r) = f

print(g)
print(y)
print(r)

a
b
['c', 'd', 'e', 'f']

In [24]:
#using loops for tuple
f=("a","b","c","d","e")
for i in f:
  print(i)

a
b
c
d
e

In [26]:
f=("a","b","c","d","e")
for i in range(len(f)):     #through index
  print(f[i])

a
b
c
d
e

In [27]:
t = ("a", "b", "c") #using while loop
i = 0
while i < len(t):
  print(t[i])
  i = i + 1

a
b
c

In [28]:
#join two tuples
i=("s","f","g","k","t")
r=("o","e","k","l")
s=i+r
print(s)

('s', 'f', 'g', 'k', 't', 'o', 'e', 'k', 'l')

In [29]:
i=("s","f","g","k","t")
p=i*2
print(p)

('s', 'f', 'g', 'k', 't', 's', 'f', 'g', 'k', 't')