<a href="https://colab.research.google.com/github/pullurisaipavan/python-practice/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple=("p","q","r","s","t")
print(tuple)

('p', 'q', 'r', 's', 't')

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [6]:
#create tuple with one item
p=("w",)
print(p)

('w',)

In [7]:
p=("x")
print(p)

x

In [9]:
#there can be three data types (int,string,boolean)
t= ("apple", "banana", "cherry")
r= (1, 5, 7, 9, 3)
s= (True, False, False)

In [12]:
#to find the data type we need to use "type() operator"
t=("apple", "banana", "cherry")
print(type(t))
r= (1, 5, 7, 9, 3)
s= (True, False, False)
print(type(r))
print(type(s))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [14]:
thistuple = tuple(("apple", "banana", "cherry")) 
# note the double round-brackets
print(thistuple)

TypeError: ignored